[defaults]
# Дефолтного пользователя для подключения по ssh, можно переопределить,
# указав опций -u admin_name при запуске плейбука
remote_user = administrator

# Файл инвентаря по умолчанию
inventory = ./hosts

# Отключение интерактивной проверки SSH Host Keys хостов
host_key_checking = False

# Отключение запроса пароля SSH при подключении,
# так как будет запрашиваться в prompt.yml
ask_pass = False

# Отключение раздельного запроса для sudo (в sudo автоматически
# подставляется тот же пароль, который введен для SSH)
ask_become_pass = False

# Отключение предупреждения автоматического поиска Python в консоли
interpreter_python = auto_silent

# Отключение предупреждения об устаревших функциях в консоли
deprecation_warnings = False

# Переключение вывода в режим, похожий на стандартный лог загрузки Linux
stdout_callback = unixy

# Настройка общей временной папки ansible, для защиты от конфликта прав при become_user
# remote_tmp = /tmp/.ansible-${USER}/tmp
remote_tmp = ~/.ansible/tmp

[ssh_connection]
# Ускорение работы и выполнение задач в памяти без создания файлов на диске
pipelining = True
