[Unit]
Description=Панель инструктора УТК-СЗИ (noVNC + Websockify)
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/vlab/panel

ExecStart=/opt/vlab/panel/server.py

Restart=always
RestartSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vlab-panel

[Install]
WantedBy=multi-user.target
