[Desktop Entry]
Version=1.0
Type=Application
# Имя ярлыка по-прежнему подставляется из красивой переменной vm_title плейбука
Name={{ vm_title }}
Comment=Быстрый запуск лабораторной виртуальной машины
# Команда запуска: подставляет чистое имя машины напрямую из цикла (например, arm-abi)
Exec=bash -c "virsh --connect qemu:///system start {{ item }}; virt-manager --connect qemu:///system --show-domain-console {{ item }}"
# Иконка подставляется из локальной переменной vm_icon (например, arm-abi.png)
Icon={{ vm_icon }}
Terminal=false
StartupNotify=true
Categories=System;Emulator;
X-Related-To=vlab
