[Unit]
Description=Chrony and Local HTTP mirror Container for vlab
After=network.target systemd-journald.service

[Service]
Type=simple
SuccessExitStatus=1

# Попытка размонтирование оверлея, если не размонтирован из-зи некорректного завершения предыдущей сессии
ExecStartPre=-/usr/bin/umount -l /opt/vlab/storage/merged

# Подготовка структуры директорий
ExecStartPre=/usr/bin/mkdir -p /opt/vlab/storage/upper /opt/vlab/storage/work /opt/vlab/storage/merged
ExecStartPre=-/usr/bin/find /opt/vlab/storage/work -mindepth 1 -delete

# Монтирование оверлея и запуск контейнера
ExecStartPre=/usr/bin/mount -t overlay overlay -o lowerdir=/,upperdir=/opt/vlab/storage/upper,workdir=/opt/vlab/storage/work /opt/vlab/storage/merged
ExecStart=/usr/bin/systemd-nspawn --machine=vlab-servers -D /opt/vlab/storage/merged /entrypoint.sh

# Отправка сигнала SIGTERM лидеру процесса (для вызова в entrypoint.sh функции on_close)
ExecStop=/usr/bin/machinectl kill --kill-who=leader --signal=SIGTERM vlab-servers

# Очистка ресурсов после остановки контейнера
ExecStopPost=-/usr/bin/umount -l /opt/vlab/storage/merged
ExecStopPost=-/usr/bin/find /opt/vlab/storage/work -mindepth 1 -delete

[Install]
WantedBy=multi-user.target

