[Unit]
Description=Service Container for vlab
After=network.target systemd-journald.service
Requires=systemd-journald.service

[Service]
Type=simple
SuccessExitStatus=1

Environment="STORAGE_ROOT=/opt/vlab/servers"

# Размонтирование оверлея на случай некорректного завершения предыдущей сессии
ExecStartPre=-/usr/bin/umount -l ${STORAGE_ROOT}/merged
ExecStartPre=-/usr/bin/umount -l ${STORAGE_ROOT}/lower

# Создание папок имонтирование корня ФС
ExecStartPre=/usr/bin/mkdir -p ${STORAGE_ROOT}/lower ${STORAGE_ROOT}/upper ${STORAGE_ROOT}/work ${STORAGE_ROOT}/merged
ExecStartPre=/usr/bin/find ${STORAGE_ROOT}/work -mindepth 1 -delete
ExecStartPre=-/usr/bin/mount --bind -o ro / ${STORAGE_ROOT}/lower

# Монтирование оверлея и запуск контейнера
ExecStartPre=/usr/bin/mount -t overlay overlay -o lowerdir=${STORAGE_ROOT}/lower,upperdir=${STORAGE_ROOT}/upper,workdir=${STORAGE_ROOT}/work ${STORAGE_ROOT}/merged
ExecStart=/usr/bin/systemd-nspawn --quiet --machine=vlab-servers -D ${STORAGE_ROOT}/merged /entrypoint.sh

# Отправка сигнала SIGTERM для вызова в entrypoint.sh функции on_close
ExecStop=/usr/bin/machinectl kill --kill-who=leader --signal=SIGTERM vlab-servers

# Размонтирование оверлея
ExecStopPost=-/usr/bin/umount -l ${STORAGE_ROOT}/merged
ExecStopPost=-/usr/bin/umount -l ${STORAGE_ROOT}/lower
ExecStopPost=/usr/bin/find ${STORAGE_ROOT}/work -mindepth 1 -delete

[Install]
WantedBy=multi-user.target
