[Unit]
Description=NTP Service Container with TimeMachine
After=network.target

[Service]
Type=simple

# Сборка оверлея
ExecStartPre=/usr/bin/mkdir -p /var/lib/machines/timemachine/upper /var/lib/machines/timemachine/work /var/lib/machines/timemachine/merged
ExecStartPre=/usr/bin/mount -t overlay overlay -o lowerdir=/,upperdir=/var/lib/machines/timemachine/upper,workdir=/var/lib/machines/timemachine/work /var/lib/machines/timemachine/merged

ExecStart=/usr/local/bin/timemachine.sh start
ExecStop=/usr/local/bin/timemachine.sh stop
ExecStopPost=/usr/bin/umount /var/lib/machines/timemachine/merged

KillMode=mixed
TimeoutStopSec=15
Restart=no

[Install]
WantedBy=multi-user.target
