[Desktop Entry]
Version=1.0
Type=Application
Name={{ vm_title }}
Comment=Быстрый запуск лабораторной виртуальной машины
# Убрали {{ username }}- из вызова virsh и virt-manager
Exec=bash -c "virsh --connect qemu:///system start {{ item.path | basename | regex_replace('\.qcow2$', '') }}; virt-manager --connect qemu:///system --show-domain-console {{ item.path | basename | regex_replace('\.qcow2$', '') }}"
# Иконка теперь подставляется динамически (например: arm-abi.png)
Icon={{ vm_icon }}
Terminal=false
StartupNotify=true
Categories=Development;
