[Desktop Entry]
Version=1.0
Type=Application
Name={{ vm_title }}
Comment=Быстрый запуск лабораторной виртуальной машины
Exec=bash -c "virsh --connect qemu:///system start {{ item }}; virt-manager --connect qemu:///system --show-domain-console {{ item }}"
Icon={{ vm_icon }}
Terminal=false
StartupNotify=true
Categories=System;Emulator;
X-Related-To=vlab
