[defaults]
# Файл инвентаря по умолчанию
inventory = ./hosts

# Отключение интерактивной проверки SSH Host Keys хостов
host_key_checking = False

# Запрос только пароля SSH при подключении
ask_pass = True

# Отключение раздельного запроса для sudo (в sudo автоматически
# подставляется тот же пароль, который введен для SSH
ask_become_pass = False

# Отключение предупреждения автоматического поиска Python в консоли
interpreter_python = auto_silent

# Отключение предупреждения об устаревших функциях в консоли
deprecation_warnings = False

# Переключение вывода в режим, похожий на стандартный лог загрузки Linux
stdout_callback = unixy
