[defaults]
# Указываем файл инвентаря по умолчанию
inventory = ./hosts

# Отключаем интерактивную проверку SSH Host Keys хостов
host_key_checking = False

# Запрашивать только пароль SSH при подключении
ask_pass = True

# Отключить раздельный запрос для sudo, чтобы в sudo  
# автоматически подставлялся тот же пароль, который введен для SSH
ask_become_pass = False

# Отключает предупреждения автоматического поиска Python в консоли
interpreter_python = auto_silent

# Отключает предупреждения об устаревших функциях в консоли
deprecation_warnings = False

# Переключает вывод в режим, похожий на стандартный лог загрузки Linux
stdout_callback = unixy
