[Desktop Entry]
Version=1.0
Type=Application
Name=$domain_title
Comment=Запуск виртуальной машины $domain_title
Exec=sh -c "virsh --connect qemu:///system start $domain_uuid; virt-manager --connect qemu:///system --show-domain-console $domain_uuid"
Icon=$domain_name
Icon[ru]=$domain_name
Terminal=false
Categories=System;Emulator;
X-Related-To=vlab
